
	  
	  /*-------------------------------------------------
		  footer 
	  ----------------------------------------------*/ 
	  #footer{
		  background:black; 
		  color:green; 
		  padding:10px; 
		  text-align:center; 
		  font-size:25px;
	  }

	  .jumbotron{
	background:url(images/good.jpg) no-repeat;
		  background-size:cover;
		  background-position:center center; 
		  background-attachment:fixed; 
			padding: 100px 25px;
}
	  
	  .bg-gray{
	background-color:#F1F1F1;
}

#header{
	background-color: white;
	height: 75px;
}
.left_head{
	width: 100px;
	float: left;
	background-color: #FFFFFF;
	color:#DC8200;
	margin-top:1px;
	margin-left:15px;
	padding: 1px;
	text-align: center;
	border-radius: 15px;
}

.right_head{
	width: 140px;
	float: right;
	background-color: #FFFFFF;
	color:#DC8200;
	margin-top:1px;
	margin-right:15px;
	padding: 1px;
	text-align: center;
	border-radius: 15px;

}

#bs-example-navbar-collapse-1{	
	background-color: #EDC9AF; 
}

#services h2{
	background-color: black; 
	color: white; 
}

#gallery {
	background-color: black; 
	color: white; 
	text-align: center;
}

